#navbar-logo {
  //height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

#bar1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#pie1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.card-chart {
   width: 250px;
   height: 50px;
   margin-top: 10px;
}

.card-panel {
  width: 300px
}

.container {
  margin-left: 23%;
}

.bold {
  font-weight: bold;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
}

.severity-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.parallax-container {
  height: 220px;
}

.page-footer {
  margin-top: 5%;
}

.parallax2 {
    /* The image used */
    background:

    linear-gradient(
    rgba(251,251,251,0.3),
    rgba(251,251,251,0.3)
    ),
    url("/assets/banner.jpg") scroll no-repeat center/cover;

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
